@media (min-width: 1008px) {
  .colored_line {
    display: inline;
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    overflow-y: auto;
    top: 0;
    /* control spacing for categories and WWW */
    margin: 10px;
    padding: 1.5px;
    border-radius: 5px;
    /* controls hight of line */
    max-height: 560px;
  }
  .PF_color_line {
    background-color: var(--secondaryPF);
  }
  .CK_color_line {
    background-color: var(--secondaryCK);
  }
  .TC_color_line {
    background-color: var(--secondaryTC);
  }
}