.case_study_title_container {
  padding: 24px 18px 24px;
}

.case_study_title {
  font-size: 1.8rem;
}

.case_study_subtitle {
  font-size: 1rem;
}

@media (min-width: 700px) {
  .case_study_title_container {
    min-width: 100%;
    padding: 24px
  }
}


@media (min-width: 1008px) {
  .case_study_title_container {
    min-width: 1324px;
    padding: 32px;
    padding-left: 0px;
  }
}