.case_study_preview_container {
  width: 100%;
}

.case_study_preview_container__img {
  width: 100%;
  border-radius: 15px;
}

.case_study_preview_container__title {
  margin-top: 8px;
}

.case_study_preview_container__subtitle {
  margin-top: 5px;
  opacity: 65%;
}

.case_study_preview_container__link {
  margin-top: 12px;
  color: var(--link)
}

.case_study_preview_container__link:hover {
  cursor: pointer;
}

@media (min-width: 1008px) {
  .case_study_preview_container {
    max-width: 40%;
  }

  .case_study_preview_container__link {
    margin-top: 15px;
    color: var(--link)
  }
}