.hf_prototype_title_PF {
  padding-bottom: 8px;
  font-size: 1.2rem;
}
.hf_prototype_text_container_PF{
  padding: 24px 8px 0px 18px;
}
.hf_prototype_text_link_PF {
  padding: 0px 8px 24px 18px;
}

.hf_prototype_image_container_PF {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0px;
}
.hf_prototype_image_PF {
  max-width: 100%;
}
.hf_prototype_link_PF {
  color: #2d73db;
  opacity: 1;
}
@media (min-width: 700px) {
  .hf_prototype_text_container_PF{
    padding: 32px 8px 0px 18px;
  }
  .hf_prototype_text_link_PF {
    padding: 0px 8px 16px 18px;
  }
}

@media (min-width: 1008px) {
  .hf_prototype_text_container_PF{
    padding: 0px 8px 0px 18px;
  }
  .hf_prototype_image_PF {
    max-width: 951px;
  }
  .hf_prototype_text_link_PF {
    padding: 0px 8px 20px 18px;
  }
}