.low_fidelity_text_container_PF {
  padding: 48px 8px 24px 18px;
}

.low_fidelity_title_PF {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.low_fidelity_image_PF {
  max-width: 100%;
}

@media (min-width: 1008px) {
  .low_fidelity_container_PF {
    margin: 0px 8px 0px 18px;
  }
  .low_fidelity_image_PF {
    max-width: 751px;
  }
  .low_fidelity_image_container_PF {
    display: flex;
    justify-content: center;
  }
}