.notable_comments_comment_box_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.notable_comments_content {
  padding: 24px 0px;
}

.notable_comments_title {
  margin-bottom: 24px;
  padding: 0px 18px;
}
@media (min-width: 700px) {
  .notable_comments_comment_box_container {
    flex-wrap: nowrap;
    align-items: normal;
    flex-direction: row;
    padding: 0px 24px;
  }
  .notable_comments_content {
    padding: 32px 18px 32px 18px;
  }
}
@media (min-width: 1008px) {
  .notable_comments_content {
    padding: 46px 18px 46px 18px;
  }
  .notable_comments_comment_box_container {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0px 46px;
  }
  .notable_comments_title {
    margin-bottom: 24px;
  }
}
