.research_so_far_image {
  width: 275%;
  margin-top: 18px;
}

.research_so_far_image_container {
  display: flex;
  overflow-x: none;
  justify-content: center;
  overflow-x: hidden;
}

.research_so_far_title {
  font-size: 1rem;
  margin-bottom: 8px;
}

.research_so_far_title_content {
  margin: 46px 0px 0px 0px;
}

.research_so_far_text_container {
  padding: 0px 18px 0px 18px;
}
@media (min-width: 700px) {
  .research_so_far_title_content {
    margin: 0px 0px 0px 0px;
    padding-top: 50px;
  }
  .research_so_far_text_container {
    padding: 0px;
    max-width: 450px;
    margin: auto;
  }
  .research_so_far_image {
    width: 125%;
    margin-top: 46px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1008px) {
  .research_so_far_text_container {
    padding: 0px 0px 0px 0px;
  }
  .research_so_far_image {
    width: 100%;
    margin: 0px;
    margin-top: 64px;
  }
  .research_so_far_text_container {
    max-width: 488px;
    text-align: center;
  }
  .research_so_far_title_content {
    margin: 0px;
    padding: 64px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}