.testing_text_container_PF {
  margin: 48px 18px 24px 18px;
}

.testing_title_PF {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.testing_image_PF {
  max-width: 100%;
  padding-bottom: 24px;
}
@media (min-width: 700px) {
  .testing_text_container_PF {
    margin: 46px 24px 24px 24px;
  }
}
@media (min-width: 1008px) {
  .testing_text_container_PF {
    margin: 0px 8px 0px 18px;
  }
  .testing_image_PF {
    max-width: 751px;
    padding-bottom: 0px;
  }
  .testing_image_container_PF {
    display: flex;
    justify-content: center;
  }
}