.time_to_design_title {
  font-size: .9rem;
  margin-bottom: 8px;
}

.time_to_design_container {
  margin: 0px 18px 32px 18px;
}

.time_to_design_image {
  display: none;
}
@media (min-width: 700px) {
  .time_to_design_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 0px 0px 0px 0px;
    padding-bottom: 50px;
  }
  .time_to_design_text_container {
    max-width: 488px;
  }
}
@media (min-width: 1008px) {
  .time_to_design_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding-bottom: 64px;
  }

  .time_to_design_text_container {
    max-width: 488px;
  }

  .time_to_design_title {
    font-size: 1rem;
  }

  .time_to_design_image {
    display: block;
    max-width: 200px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-right: 56px;
  }
}