.usability_container_PF {
  padding: 24px 18px 48px 18px;
}
@media (min-width: 700px) {
.usability_container_PF {
  padding: 32px 24px 64px 24px;
}
}
@media (min-width: 1008px) {
  .usability_container_PF {
    padding: 46px 46px 64px 46px;
  }
}