.WhoWhatWhen_container {
  padding: 20px 8px 0px;
}

.WhoWhatWhen_Card {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
}

.WhoWhatWhen_text_container {
  margin-left: 8px;
}

.WhoWhatWhen_title {
  font-size: 1rem;
}

.WhoWhatWhen_subtitle {
  font-size: 1.2rem;
}

.WhoWhatWhen_line {
  padding: 2px;
  border-radius: 5px;
}
.WhoWhatWhen_line_PF { background-color: var(--secondaryPF); }
.WhoWhatWhen_line_CK { background-color: var(--secondaryCK); }
.WhoWhatWhen_line_TC { background-color: var(--color4TC); }

@media (min-width: 700px) {
  .WhoWhatWhen_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .WhoWhatWhen_Card {
    min-width: 25.3%;
  }
}

@media (min-width: 1008px) {
  .WhoWhatWhen_Card {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
    display: flex;
  }

  .WhoWhatWhen_Card {
    min-width: auto;
    width: 33.3%;
  }

  .WhoWhatWhen_title {
    font-size: .9rem;
  }
  
  .WhoWhatWhen_subtitle {
    font-size: 1rem;
  }

  .WhoWhatWhen_container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 46px;
  }
}