.fc_container_ck {
  padding-bottom: 12px;
}

.fc_text_container_ck {
  padding: 0px 18px 12px 18px;
}

.fc_image_ck {
  max-width: 100%;
}

@media (min-width: 700px) {
  .fc_text_container_ck {
    padding: 0px 24px 24px 24px;
  }
  .fc_container_ck {
    padding-bottom: 50px;
  }
}

@media (min-width: 1080px) {
  .fc_image_container_ck {
    display: flex;
    justify-content: center;
  }
  .fc_container_ck {
    padding-bottom: 64px;
  }
  .fc_text_container_ck {
    padding: 0px 46px 46px 46px;
  }  
  .fc_image_ck {
    max-width: 800px;
  }
}