.gmr_and_ta_container_ck {
  padding-bottom: 24px;
}

.gmr_text_container_ck {
  padding: 24px 18px;
}

.gmr_image_container_ck, .ta_image_container_ck{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ta_image_container_ck {
  margin-bottom: 32px;
  flex-direction: column;
}
.ta_image_desc_ck {
  padding: 0px 18px;
  padding-top: 8px;
}

.gmr_image_ck, .ta_image_ck {
  width: 100%;
}

.ta_text_container_ck {
  margin-top: 24px;
  padding: 24px 18px 24px 18px;
}
.ta_image_ck {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

.users_text_container_ck {
  padding: 0px 18px;
}
.user_list_container_ck {
  padding-left: 20px;
}
.user_list_item_ck {
  margin-top: 8px;
}
@media (min-width: 700px) {
  .gmr_and_ta_container_ck {
    padding-bottom: 50px;
  }
  .users_text_container_ck {
    padding: 0px 24px;
  }
  .gmr_text_container_ck {
    padding: 50px 24px 32px;
  }
  .ta_text_container_ck {
    margin-top: 14px;
    padding: 50px 24px 24px;
  }
  .ta_image_desc_ck {
    padding: 0px;
    padding-left: 0px;
    padding-top: 12px;
  }
  .ta_image_ck {
    width: 90%;
    border-radius: 15px;
  }
  .ta_image_container_ck  {
    margin-bottom: 46px;
  }
  .user_list_container_ck {
    padding-left: 24px;
  }
}

@media (min-width: 1008px) {
  .users_text_container_ck {
    padding: 0px 46px;
  }
  .gmr_and_ta_container_ck {
    padding-bottom: 64px;
  }
  .ta_text_container_ck, .gmr_text_container_ck {
    margin-top: 0px;
    padding: 64px 46px 46px 46px;
  }
  .gmr_image_ck {
    width: 868px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 18px;
  }
  .ta_image_container_ck {
    margin-bottom: 64px;
  }
  .ta_image_ck {
    width: 700px;
  }
}
