.lf_container_ck {
  padding: 24px 0px;
}

.lf_text_container {
  padding: 0px 18px 24px;
}

.lf_image_ck {
  max-width: 100%;
}

@media (min-width: 700px) {
  .lf_container_ck {
    padding: 50px 0px;
  }
  .lf_text_container {
    padding: 0px 24px 32px 24px;
  }
}

@media (min-width: 1080px) {
  .lf_container_ck {
    padding: 64px 0px;
  }
  .lf_text_container {
    padding: 0px 46px 46px;
  }
  .lf_image_container_ck {
    display: flex;
    justify-content: center;
  }
  .lf_image_ck {
    max-width: 800px;
  }
}