.pp_container_ck {
  position: relative;
}

.pp_text_container_ck {
  padding: 24px 18px 16px 18px;
}

.pp_list_container_ck {
  padding: 0px 24px 0px 48px;
}

@media (min-width: 700px) {
  .pp_text_container_ck {
    padding: 50px 24px 16px 24px;
  }
}

@media (min-width: 1080px) {
  .pp_text_container_ck {
    padding: 64px 46px 24px 46px;
  }
  .pp_list_container_ck {
    padding: 0px 46px 0px 68px;
  }
}