.po_container_ck {
  padding: 38px 18px;
}
@media (min-width: 700px) {
  .po_text_container_ck {
    max-width: 540px;
  }  
  .po_container_ck {
    padding: 64px 0px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1080px) {
  .po_text_container_ck {
    max-width: 550px;
  }  
  .po_container_ck {
    padding: 64px 0px;
  }
}