.rsf_container_ck {
  padding: 38px 0px 46px;
}

.rsf_text_container_ck {
  padding: 0px 18px;
}

.rsf_line {
  padding: 1px;
  background-color: var(--light50);
}

@media (min-width: 700px) {
  .rsf_text_container_ck {
    max-width: 600px;
    margin: auto;
    padding: 0px 0px;
  }
  .rsf_container_ck {
    padding: 46px 0px;
  }
}
@media (min-width: 1080px) {
  .rsf_line {
    border-radius: 100%;
  }
}