.ttsd_container_ck {
  padding: 46px 0px 38px;
}

.ttsd_text_container_ck {
  padding: 0px 18px;
}

@media (min-width: 700px) {
  .ttsd_text_container_ck {
    padding: 0px 0px;
    max-width: 500px;
    margin: auto;
  }
  .ttsd_container_ck {
    padding: 64px 0px 50px;
  }
}
@media (min-width: 1080px) {
  .ttsd_container_ck {
    padding: 64px 0px;
  }
}