.ttsd_container_ck {
  padding: 32px 0px;
}

.ttsd_text_container_ck {
  padding: 0px 18px;
  text-align: center;
}

@media (min-width: 700px) {
  .ttsd_text_container_ck {
    padding: 0px 0px;
    max-width: 620px;
    margin: auto;
  }
  .ttsd_container_ck {
    padding: 46px 0px;
  }
}
@media (min-width: 1080px) {}