.u_container_ck {
  padding-top: 24px;
  padding-bottom: 24px;
}

.u_text_container_ck {
  padding: 0px 18px 0px 18px;
}

@media (min-width: 700px) {
  .u_container_ck {
    padding-top: 32px;
  }
}
@media (min-width: 1080px) {
  .u_container_ck {
    padding-top: 46px;
  }
}