.wtp_container_ck {
  padding: 32px 18px;
  text-align: center;
}

@media (min-width: 700px) {
  .wtp_container_ck {
    padding: 46px 0px;
    max-width: 429px;
    margin: auto;
  }
}
@media (min-width: 1008px) {
  .wtp_container_ck {
    max-width: 600px;
  }
}