.get_in_touch__container {
  margin-top: 64px;
}

.get_in_touch__button {
  box-shadow: 3px 3px 8px 1px rgba(0, 70, 215, 0.4);
  border: none;
  border-radius: 7px;
  margin-top: 24px;
  padding: 20px 23px;
  color: var(--light);
  background-color: var(--accent);
}

.get_in_touch__button:hover {
  cursor: pointer;
}
.get_in_touch__button:focus {
  transform: translateY(1px);
  box-shadow: 3px 3px 3px 1px rgba(0, 70, 215, 0.4);
}

@media (min-width: 1008px) {
  .get_in_touch__button {
    margin-top: 20px;
  }
}