.fd_container_tc {
  position: relative;
  padding: 24px 0px;
}

.fd_text_container_tc {
  padding: 0px 18px;
}

.fd_image_tc {
  max-width: 100%;
  padding-top: 24px;
}

@media (min-width: 700px) {
  .fd_container_tc {
    padding: 50px 0px;
  }
  .fd_text_container_tc {
    padding: 0px 24px;
  }
  .fd_image_tc {
    padding-top: 32px;
  }
}
@media (min-width: 1080px) {
  .fd_container_tc {
    padding: 46px 0px;
  }
  .fd_text_container_tc {
    padding: 0px 46px;
  }
  .fd_image_tc {
    padding-top: 46px;
    max-width: 800px;
  }
  .fd_image_container_tc {
    display: flex;
    justify-content: center;
  }
}
