.p_container_tc {
  padding: 24px 0px;
}

.p_text_container_tc {
  padding: 0px 18px;
}
.p_image_tc {
  max-width: 100%;
  margin: 24px 0px;
}

.p_text_image_tc {
  padding: 0px 18px;
}
.hf_prototype_link_tc {
  color: #2d73db;
  opacity: 1;
}

@media (min-width: 700px) {
  .p_container_tc {
    padding: 32px 0px;
  }
  
  .p_text_container_tc {
    padding: 0px 24px;
  }
  .p_image_tc {
    max-width: 100%;
    margin: 0px 0px;
  }
  
  .p_text_image_tc {
    padding: 0px 24px;
  }
}
@media (min-width: 1080px) {
  .p_container_tc {
    padding: 46px 0px 18px;
  }
  
  .p_text_container_tc {
    padding: 0px 46px;
  }
  .p_image_tc {
    max-width: 100%;
    margin: 0px 0px;
    max-width: 800px;
    padding-top: 46px;
  }
  .p_image_container_tc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p_text_image_tc {
    padding: 0px 46px;
  }
}