.wtp_container_tc {
  padding: 30px 18px 38px 18px;
}

.wtp_image_tc {
  display: none;
}

@media (min-width: 700px) {
  .wtp_container_tc {
    padding: 0px;
    padding-top: 48px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .wtp_text_container_tc {
    max-width: 460px;
  }
}
@media (min-width: 1080px) {
  .wtp_container_tc {
    display: flex;
    justify-content: center;
    padding: 64px 46px;
    padding-top: 40px;
  }
  .wtp_image_tc {
    display: block;
    max-width: 250px;
    margin-left: 46px;
  }
}