.navbar {
  border-bottom: solid;
  border-width: 2px;
  border-color: var(--secondary35);
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: .8rem;
}

.navbar_links_container {
  display: flex;
  gap: .5em;
}

.navbar_logo {
  color: var(--secondary65);
  font-weight: bold;
  font-size: 1.3rem;
}

.navbar_link {
  color: var(--secondary65);
  font-size: .8rem;
  font-weight: bold;
}

.navbar_link:hover,
.navbar_logo:hover {
  color: var(--secondary);
  cursor: pointer;
}

@media (min-width: 1008px) {
  .navbar_container {
    max-width: 1324px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  .navbar_links_container {
    gap: 1.2em;
  }

  .navbar_logo {
    font-size: 2rem;
  }

  .navbar_link {
    font-size: 1.3rem;
  }
}