.category_container {
  padding: 11px;
  border-radius: 5px;
  border: none;
  margin: 8px;
}

.category_container:active {
  filter: brightness(90%);
  transform: translateY(2px);
}

.category_title {
  font-size: .9rem;
  letter-spacing: .33px;
}

.category_PF {
  color: var(--secondaryPF);
  background-color: var(--primaryPF);
}

.category_PF:hover {
  color: var(--primaryPF);
  background-color: var(--secondaryPF);
  cursor: pointer;
}

.category_TC {
  color: var(--color4TC);
  background-color: var(--primaryTC);
}
.category_TC:hover {
  color: var(--primaryTC);
  background-color: var(--color4TC);
  cursor: pointer;
}

.category_CK {
  color: var(--secondaryCK);
  background-color: var(--color1CK);
  font-weight: 500;
}
.category_CK:hover {
  color: var(--color1CK);
  background-color: var(--secondaryCK);
  cursor: pointer;
}

@media (min-width: 1008px) {
  .category_container {
    cursor: pointer;
    margin: 8px;
    margin-left: 0px;
  }
  .category_title {
    font-size: .8rem;
    letter-spacing: normal;
  }
  .test_width {
    width: 100%;
  }
}