.ability_info {
  margin-bottom: .4rem;
  margin-top: .4rem;
  padding-left: .4rem;
  padding-right: .4rem;
  align-items: center;
  justify-content: center;
}

.ability_icon {
  margin-left: 5px;
}

.ability_container {
  max-width: 85%;
}
