.about_profile_pic {
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.about_container {
  max-width: 80%;
}

.about_paragraph {
  width: 85%;
}

@keyframes fade_word_animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .6;
    filter: blur(5px);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.fade_word {
  animation: fade_word_animation 40000ms ease-in-out infinite;
  animation-delay: 8000ms;
}

@media (min-width: 1080px) {
  .about_container {
    max-width: 1080px;
  }
  .about_paragraph {
    max-width: 1080px;
  }
}