.credits_spacing {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.credits_container {
  justify-content: center;
  align-items: center;
}

.credits_centering {
  justify-content: center;
  align-items: center;
}

@media (min-width: 1080px) {
  .credits_container {
    max-width: 1080px;
  }
}