.projects_tech_list_container {
  margin-top: .4rem;
  margin-bottom: .4rem;
  align-items: center;
  justify-content: center;
}

.projects_divider {
  width: 100%;
}

.projects_description {
  text-align: left;
  width: 85%;
}

.projects_tech {
  margin-right: .4rem;
  margin-left: .4rem;
}

.project_preview {
  margin-bottom: .4rem;
  margin-top: .4rem;
}

@media (min-width: 1080px) {
  .projects_container {
    max-width: 1080px;
  }
  .projects_divider {
    width: 1080px;
  }
  .projects_description {
    max-width: 1080px;
  }
}