.contact_page__container {
  width: 80%;
  margin: auto;
  margin-bottom: 48px;
}

.contact_page__title {
  margin-top: 48px;
}

.contact_info__container {
  margin-top: 24px;
  display: flex;
  flex-direction: column-reverse;
}

.contact_info_text__container {
  margin-top: 24px;
}

.contact_info_text__p {
  margin-top: 8px;
}

.contact_info__img {
  width: 100%;
  border-radius: 15px;
}

@media (min-width: 1008px) {
  .contact_page__container {
    max-width: 1324px;
  }

  .contact_info__container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
  }

  .contact_info__img {
    max-width: 500px;
    width: 45%;
  }

  .contact_info_text__container {
    margin-top: 0;
    width: 50%;
  }
}