.title_categories_case_study_and_www_container {
  display: flex;
  flex-direction: column;
}

.categories_www_and_case_study_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1324px;
}

.paw_finder_categories_container {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  max-height: 600px;
  z-index: 1;
}

.paw_finder_line {
  display: none;
  z-index: 1;
}

@media (min-width: 1008px) {
  .categories_www_and_case_study_container {
    min-width: 1324px;
    flex-direction: row;
  }

  .title_categories_case_study_and_www_container {
    align-items: center;
  }

  .paw_finder_categories_container {
    max-width: 12.5em;
    align-content: flex-start;
  }

  .paw_finder_line {
    display: inline;
    /* control spacing for categories and WWW */
    margin: 10px;
    width: 5px;
    border-radius: 5px;
    background-color: var(--secondaryPF);
    /* controls hight of line */
    max-height: 530px;
  }

  .www_and_case_study_container {
    min-width: 1100px;
    border: 1px solid blue;
  }
}

/* TEST */
.banner_TEST {
  border: 1px solid red;
  height: 275px;
}